*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
	/* overflow:hidden; */
}

a{
	text-decoration:none;
}


/* .reveal{
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }

  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  } */

ul{
	list-style-type:none;
}

li{
    text-decoration:none;
    list-style-type:none;
}


.greenbg{
    background-color:#477E1E;
    padding-bottom:0px;
}
body{
	background: #fff;
    color: #444;
    font-family: "lato", "Open Sans", sans-serif;
    position:relative;

}

html{
	scroll-behavior: smooth;
}

.container{
    width:80%;
    margin:auto;
}

#countdown{
    color: #477E1E;
    display: flex;
    font-size:30px;
    font-weight:600;
    justify-content: center;
    align-items: center;
    color: green;
}

.form h1{
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-size:40px;
    font-weight:800;
    color: #477E1E;
}


.headlinks li a{
    color:white;
}

.headlinks li{
    display:inline;
    margin-right:100px;
}

.head{
    display: flex;
    padding-top:40px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.greenwidth{
    width:85%;
    margin:auto;
}

.heroflex{
    margin-top:20px;
    display: flex;
    /* padding-top:40px; */
    justify-content: space-between;
    align-items: center;
}

.heroimage{
    flex-basis:65%;
}

.herotext{
    /* margin-top:-100px; */
    flex-basis:35%;
}

.heroimage img{
    width:100%;
}

.herotext p{
    color:white;
    font-size:17px;
    font-weight:300;
}

.herotext h1{
    color:white;
    line-height:0.8em;
    margin-top:10px;
    font-size:80px;
}

.herotext button{
    border-radius: 2px;
    border:none;
    background:#72AA48;
    color:white;
    font-size:20px;
    margin-top:15px;
    font-weight:400;
    padding: 10px 25px 10px 25px;
}

.herotext button a {
    color:white;
}

/* Next */

.whatisflex{
    display: flex;
    padding-top:80px;
    width:85%;
    justify-content: space-between;
    /* align-items: center; */
    margin:auto;
    margin-top:60px;
}

.whatishead{
    flex-basis:55%;
}

.whatishead h1{
    font-size:55px;
    margin-top:-10px;
}

.whatishead h3{
    font-weight:400;
    color:#477E1E;
    font-size:35px;
}

.whatisimage img{
    width: 100%;
}

.whatisimage{
    flex-basis:60%;
}

.whatistext{
    flex-basis:30%;
}


.qm{
    color:#477E1E;
}

.whatistext p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    margin-top:10px;
    margin-bottom:15px;
}

.name{
    font-weight:600;
}

/* Next */
/* margin-top:60px; */

.cdbg{
    background:#F5F2F2;
    padding-top:5px;
    margin-top:100px;
    margin-bottom:100px;
    padding-bottom:60px;
}

.cdcoming{
   margin-top:50px;
   margin-bottom:40px;
   text-align:center;
   font-size:30px;
   font-weight:700;
   color:#477E1E;
}


.cdoutline{
    border:1px solid rgb(184, 183, 183);
    background:none;
    padding:50px;
    width:85%;
    margin:auto;
    /* margin-bottom:200px; */
}

.cdtimeflex{
    display:flex;
    justify-content: space-around;
    margin:auto;
    width:40%;
    margin-top:20px;
    margin-bottom:40px;
}

.cdtimeflex p{
    font-size:20px;
}

.cdvenue{
    margin-top:30px;
   margin-bottom:50px;
   text-align:center;
   font-size:20px;
}

.cdflex{
    color:#477E1E;
    display: flex;
    /* padding-top:80px; */
    width:85%;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    margin:auto;
}

.cdtext h1{
    font-size:90px;
    font-weight:300;
}

.cdtext p{
    font-size:30px;
    font-weight:800;
    /* margin-top:-20px; */
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #477E1E;
  border-radius: 50%;
  margin-right:20px;
}

.cdmoreinfo{
    display:flex;
    justify-content: space-between;
    margin:auto;
    align-items:center;
}

.cdmoreinfomain{
    margin-top:10px;
    width:85%;
    display:flex;
    justify-content: space-around;
    margin:auto;
    align-items:center;
}

/* Form */

/* background-color: var(--e-global-color-72de1b0 );
    border-color: #A4A3A7;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px 4px 4px 4px; */

    .form{
        width:70%;
        margin:auto;
    }

    .formcontrol input{
    /* background-color: var(--e-global-color-72de1b0 );
    border-color: #B2B2B2; */
    padding:20px;
    margin-bottom:25px;
    /* margin:auto; */
    width:100%;
    border: 0.5px #B2B2B2 solid;
    /* border-width: 1px; */
    border-radius: 4px
    }

.mqlist{
    display:none;
}

.mshow{
    display:none;
}

    .mqlist ul {
        /* position: fixed; */
        margin-top: 20px;
        /* top: 150px;
        left: 0; */
        z-index: 4;
        width: 100%;
        padding: 40px;
        font-size: 14px;
        text-align: left;
        background: white;
    }

    .mqlist ul li {
        color: #1f1e1e;
        border-bottom: 1px solid #477E1E;
        padding: 8px;
        display: block;
    }

    .mqlist ul a {
        color: #1f1e1e;
    }

    .mobileflex{
        display: flex;
    justify-content: space-between;
    margin: auto;

    }

    #iconcolor{
        font-size: 25px;
        color:white;
    }

    #xiconcolor{
        font-size: 25px;
        color:white;
        display:none;
    }

    .btnform{
        background: #477E1E;
    color: #fff;
    border: 0;
    padding-top: 22px;
    padding-bottom: 22px;
    margin: auto;
    text-align: center;
    /* padding-left: 155px;
    padding-right: 155px; */
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    width:100%;
    margin-bottom: 20px;
    }

    .text-underlined {
        text-decoration: underline;
        text-decoration-thickness: 14px;
  text-decoration-color: #477E1E;

      }

      @keyframes fadeIn {
        0% { opacity: 0; transform: translateY(20px); }
        100% { opacity: 1; transform: translateY(0); }
    }

    .herotext p,
        .herotext h1,
        .herotext button {
            opacity: 0;
        }


    .herotext p {
        animation: fadeIn 1s ease-in-out 0.5s forwards;
    }

    #htx {
        animation: fadeIn 1s ease-in-out 1.5s forwards;
    }

    #htxtwo {
        animation: fadeIn 1s ease-in-out 2.5s forwards;
    }

    .herotext button {
        animation: fadeIn 1s ease-in-out 3.5s forwards;
    }

    /* #htx {
        animation: fadeIn 2s ease-in-out 2s;
    }

    #htxtwo {
        animation: fadeIn 3s ease-in-out 3s;
    } */


@media (max-width: 1000px){
    .head {
        display:none;
    }

    .mshow{
        display:block;
    }

    .herotext h1 {
        color: white;
        line-height: 0.8em;
        margin-top: 10px;
        font-size: 50px;
    }

    .mobileflex {
        padding-top:30px;
        padding-bottom:15px;
        align-items:center;
    }

    .herotext p {
        font-size: 13px;
        font-weight: 300;
    }
}


@media (max-width: 800px){
    .heroflex {
        /* margin-top: 20px; */
        display: block;
    }

    .whatishead h1 {
        font-size: 45px;
        margin-top: -10px;
    }

    .whatistext p {
        margin-top:20px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.8em;
    }

    .whatisflex {
        display: block;
        /* padding-top: 80px;
        width: 85%;
        justify-content: space-between;
        margin: auto;
        margin-top: 60px; */
    }

    .heroimage img {
        margin-top:35px;
    }

    /* .cdtimeflex {
        display:  block;
    } */

    .cdtimeflex {
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 85%;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .cdtimeflex p {
        font-size: 17px;
    }

    .cdflex {
        display:block;
    }

    .cdtext h1 {
        font-size: 50px;
        font-weight: 300;
    }

    .cdvenue {
        width:90%;
        margin:auto;
        margin-top:20px;
        margin-bottom:20px;
        text-align:center;
        font-size: 14px;
    }

    .cdmoreinfomain {
        margin-top: 10px;
        width: 85%;
        display: block;
        margin: auto;
        align-items: left;
    }

    .cdmoreinfo {
        display: block;
    }

    .dot{
        display:none;
    }

    .cdmoreinfotext {
        margin-left:10px;
        margin-bottom:10px;
    }

}
